* text=auto
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.cpp text eol=lf
*.h text eol=lf
*.js text eol=lf
*.mjs text eol=lf
*.md text eol=lf
*.h5p binary
*.mp4 binary
/samples/footing-blockwall/*.json text eol=lf
/samples/footing-blockwall/*.txt text eol=lf
